.footer {
    background-color: whitesmoke;
    color: #d1068e;
    padding: 30px 0;
    text-align: center;
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 5px 0;
    font-size: 16px;
  }
  